/* *========================================
      * FONTS *
*======================================== */
/* jetbrains-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jetbrains-mono-v24-latin-700.woff2") format("woff2");
}

/* *========================================
      * VARIABLES *
*======================================== */
:root {
  /* ---=== color ===--- */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-grey-950: hsl(255, 22%, 4%);
  --clr-grey-900: hsl(248, 17%, 9%);
  --clr-grey-850: hsl(248, 15%, 11%);
  --clr-grey-800: hsl(248, 11%, 15%);
  --clr-grey-700: hsl(248, 5%, 34%);
  --clr-grey-600: hsl(251, 9%, 53%);
  --clr-grey-200: hsl(252, 11%, 91%);

  --clr-green-200: hsl(127, 100%, 82%);
  --clr-yellow-300: hsl(42, 91%, 68%);
  --clr-orange-400: hsl(13, 95%, 66%);
  --clr-red-500: hsl(0, 91%, 63%);

  --clr-grad-left: hsl(248, 17%, 9%);
  --clr-grad-left: hsl(255, 22%, 4%);

  /* ---=== fonts ===--- */
  /* font family */
  --ff-base: "JetBrains Mono", Arial, Helvetica, sans-serif;

  /* font size */
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;

  /* font weight */
  --fw-bold: 700;

  /* line height */
  --lh-fs16: 1.25rem;
  --lh-fs18: 1.5rem;
  --lh-fs24: 2rem;
  --lh-fs32: 2.625rem;

  /* ---=== input ===--- */
  /* type range */
  --range-track-height: 8px;
  --range-thumb-size: 28px;
  --thumb-cursor: pointer;
  --thumb-border-radius: 50%;
}

/* *========================================
      * RESET *
*======================================== */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  padding: 0;
}

button {
  /* appearance: none; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  /* Retire les bordures et ombres par défaut */
  border: none;
  outline: none;
  box-shadow: none;

  /* Garde la typographie et le fond du site */
  background: transparent;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}
input:focus-visible {
  outline: 2px solid var(--clr-green-200);
  outline-offset: 2px;
}

/* *========================================
      * BASE *
*======================================== */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs16);
  background-color: var(--clr-grey-950);
  color: var(--clr-white);
  min-height: 100vh;

  display: grid;
  place-items: center;
}

/* ---=== INPUT TYPE RANGE ===-------------------------- */
/* * Init range */
input[type="range"] {
  width: 100%;
  height: var(--range-track-height);
  appearance: none;
  background: transparent;
}

/* * Chrome / Safari ------------------------------------ */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--range-track-height);
  background: linear-gradient(
    to right,
    var(--clr-green-200) 0%,
    var(--clr-green-200) calc(var(--cursor-percentage)),
    var(--clr-grey-850) 0%
  );
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  background: var(--clr-grey-200);
  border-radius: var(--thumb-border-radius);
  cursor: var(--thumb-cursor);
  margin-top: calc((var(--range-track-height) - var(--range-thumb-size)) / 2);
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--clr-grey-850);
  border: 2px solid var(--clr-green-200);
}

/* * Firefox --------------------------------------------- */
input[type="range"]::-moz-range-track {
  height: var(--range-track-height);
  background: linear-gradient(
    to right,
    var(--clr-green-200) 0%,
    var(--clr-green-200) calc(var(--cursor-percentage)),
    var(--clr-grey-850) 0%
  );
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  background: var(--clr-grey-200);
  border-radius: var(--thumb-border-radius);
  cursor: var(--thumb-cursor);
  margin-top: calc((var(--range-track-height) - var(--range-thumb-size)) / 2);
}
input[type="range"]::-moz-range-thumb:hover {
  background: var(--clr-grey-850);
  border: 2px solid var(--clr-green-200);
}

/* ---=== INPUT TYPE CHECKBOX ===--- */
.checkbox__choice input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox__choice label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}
.checkbox__choice .text {
  color: var(--clr-grey-200);
}
.checkbox__choice .box {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--clr-grey-200);
  transition:
    background 0.2s,
    border-color 0.2s;
}
.checkbox__choice .box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 12px;
  border: solid var(--clr-grey-850);
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -70%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}
.checkbox__choice input[type="checkbox"]:checked + label .box {
  background: var(--clr-green-200);
  border-color: var(--clr-green-200);
}
.checkbox__choice input[type="checkbox"]:checked + label .box::after {
  opacity: 1;
}
.checkbox__choice input[type="checkbox"]:focus + label .box {
  /* outline: 2px solid #2196f3; */
}

/* *========================================
      * MAIN *
*======================================== */
/* ---=== TITLE ===--- */
.title {
  font-size: var(--fs-16);
  color: var(--clr-grey-600);
  line-height: var(--lh-fs16);
  text-align: center;
}

/* ---=== CONTAINER ===--- */
.container {
  width: 21.4375rem;
  display: grid;
  gap: 1rem;
}

/* -- GENERATOR -- */
.generator {
  display: grid;
  gap: 1rem;
}

/* -- DISPLAY PASSWORD -- */
.password {
  background-color: var(--clr-grey-800);
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password input {
  width: 15ch;
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs24);
  outline: none;
}

.icon-copy__content {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-copy {
  color: var(--clr-green-200);
  width: 17.5px;
  height: 20px;
}
.copied {
  position: absolute;
  color: var(--clr-green-200);
  font-size: var(--fs-16);
  line-height: var(--lh-fs16);
  right: 24px;
  display: none;
}
.copied.active {
  display: block;
}
.icon-copy:hover {
  color: var(--clr-white);
}

/* -- OPTIONS -- */
.options {
  background-color: var(--clr-grey-800);
  padding: 1rem;

  display: grid;
  gap: 2rem;
}
.option__cursor {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.option__label-cursor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option__label-cursor label {
  color: var(--clr-grey-200);
}
.cursor__value {
  color: var(--clr-green-200);
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs24);
}

/* CHOOSE CHARACTERS TYPES PASSWORD */
.choices {
  display: grid;
  gap: 1rem;
}

/* -- strength -- */
.strength__content {
  display: grid;
  gap: 1rem;
}
.strength {
  padding: 1rem;
  background-color: var(--clr-grey-850);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strength__title {
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs16);
  color: var(--clr-grey-600);
}
.strength__text {
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs18);
  color: var(--clr-grey-200);
}
.strength__level {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.strength__bars {
  display: flex;
  gap: 0.5rem;
}
.bar {
  width: 10px;
  height: 28px;
  border: 2px solid var(--clr-grey-200);
}

/* -- GENERATE BUTTON -- */
.btn {
  width: 100%;
  background-color: var(--clr-green-200);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn span {
  color: var(--clr-grey-800);
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: var(--lh-fs16);
}
.icon-btn-generate {
  color: var(--clr-grey-800);
}
.btn:hover {
  background-color: transparent;
  outline: 2px solid var(--clr-green-200);
}
.btn:hover span {
  color: var(--clr-green-200);
}
.btn:hover .icon-btn-generate {
  color: var(--clr-green-200);
}
.btn:active .icon-btn-generate {
  transform: translateX(10px);
}

/* *========================================
      * NEDIA *
*======================================== */
/* ---=== TABLET & DESKTOP ===--- */
@media (min-width: 768px) {
  .title {
    font-size: var(--fs-24);
    line-height: var(--lh-fs24);
  }

  .container {
    width: 33.75rem;
    gap: 2rem;
  }

  .password {
    padding: 1rem 2rem;
  }

  /* DISPLAY PASSWORD */
  .password input {
    width: 19ch;

    font-size: var(--fs-32);
    line-height: var(--lh-fs32);
  }
  .password img {
    width: 21px;
    height: 24px;
  }
  .icon-copy__content > span {
    color: var(--clr-green-200);
    font-size: var(--fs-18);
    line-height: var(--lh-fs18);
  }
  .icon-copy {
    width: 21px;
    height: 24px;
  }
  .copied {
    right: 26px;
  }

  /* -- GENERATOR -- */
  .generator {
    gap: 1.5rem;
  }

  /* OPTIONS */
  .options {
    padding: 1.5rem 2rem;
  }
  .option__cursor {
    gap: 1.5rem;
  }

  /* CHECKBOX */
  .checkbox__choice label {
    gap: 1.5rem;
  }
  .checkbox__choice .text {
    font-size: var(--fs-18);
    line-height: var(--lh-fs18);
  }

  /* -- strength -- */
  .strength__content {
    gap: 2rem;
  }
  .strength__title {
    font-size: var(--fs-18);
    line-height: var(--lh-fs18);
  }
  .strength__text {
    font-size: var(--fs-24);
    line-height: var(--lh-fs24);
  }

  /* -- GENERATE BUTTON -- */
  .btn {
    padding: 1.5rem;
    gap: 1.5rem;
  }
  .btn span {
    font-size: var(--fs-18);
    line-height: var(--lh-fs18);
  }
}
